@font-face {
  font-family: 'effebet_icons';
  src: url('../fonts/effebet_icons.eot?16260840');
  src: url('../fonts/effebet_icons.eot?16260840#iefix') format('embedded-opentype'),
       url('../fonts/effebet_icons.woff2?16260840') format('woff2'),
       url('../fonts/effebet_icons.woff?16260840') format('woff'),
       url('../fonts/effebet_icons.ttf?16260840') format('truetype'),
       url('../fonts/effebet_icons.svg?16260840#effebet_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'effebet_icons';
    src: url('../font/effebet_icons.svg?16260840#effebet_icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "effebet_icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-back-arrow:before { content: '\e800'; } /* '' */
.icon-basketball:before { content: '\e801'; } /* '' */
.icon-boxing-1:before { content: '\e802'; } /* '' */
.icon-casino:before { content: '\e803'; } /* '' */
.icon-corner:before { content: '\e804'; } /* '' */
.icon-effebet-logo:before { content: '\e805'; } /* '' */
.icon-favorites:before { content: '\e806'; } /* '' */
.icon-formula1:before { content: '\e807'; } /* '' */
.icon-handball:before { content: '\e808'; } /* '' */
.icon-highlights:before { content: '\e809'; } /* '' */
.icon-menu:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-img_168069:before { content: '\e80c'; } /* '' */
.icon-last-minute:before { content: '\e80d'; } /* '' */
.icon-live-casino:before { content: '\e80e'; } /* '' */
.icon-live:before { content: '\e80f'; } /* '' */
.icon-live2:before { content: '\e810'; } /* '' */
.icon-my-account:before { content: '\e811'; } /* '' */
.icon-my-bets:before { content: '\e812'; } /* '' */
.icon-scoreboard:before { content: '\e813'; } /* '' */
.icon-logo:before { content: '\e814'; } /* '' */
.icon-football:before { content: '\e815'; } /* '' */
.icon-sports:before { content: '\e816'; } /* '' */
.icon-tennis:before { content: '\e817'; } /* '' */
.icon-today:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e819'; } /* '' */
.icon-volleyball:before { content: '\e81a'; } /* '' */
.icon-casino-1:before { content: '\e81b'; } /* '' */
.icon-logout:before { content: '\e81c'; } /* '' */
.icon-password:before { content: '\e81d'; } /* '' */
.icon-stats:before { content: '\e81e'; } /* '' */
.icon-transaction:before { content: '\e81f'; } /* '' */
.icon-highlights-1:before { content: '\e820'; } /* '' */
.icon-livestream:before { content: '\e821'; } /* '' */
.icon-baccarat:before { content: '\e822'; } /* '' */
.icon-score:before { content: '\e823'; } /* '' */
.icon-trash-1:before { content: '\e824'; } /* '' */
.icon-boxing:before { content: '\e825'; } /* '' */
.icon-statistics:before { content: '\e826'; } /* '' */
.icon-close-rounded:before { content: '\e827'; } /* '' */
.icon-search:before { content: '\e828'; } /* '' */
.icon-football-1:before { content: '\e829'; } /* '' */
.icon-all:before { content: '\e82a'; } /* '' */
.icon-ice-hockey:before { content: '\e82b'; } /* '' */
.icon-logo-1:before { content: '\e82c'; } /* '' */
.icon-logo-2:before { content: '\e82d'; } /* '' */
.icon-bet-on-numbers:before { content: '\e82e'; } /* '' */
.icon-all-items:before { content: '\e82f'; } /* '' */
.icon-blackjack:before { content: '\e830'; } /* '' */
.icon-dragon-tiger:before { content: '\e831'; } /* '' */
.icon-poker:before { content: '\e832'; } /* '' */
.icon-roulette:before { content: '\e833'; } /* '' */
.icon-keno:before { content: '\e834'; } /* '' */
.icon-bakara:before { content: '\e835'; } /* '' */
.icon-money-wheel:before { content: '\e836'; } /* '' */
.icon-sick-bo:before { content: '\e837'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */