.flag {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-image: url(../images/flags.png);
    background-repeat: no-repeat;
    background-position: 100px 0;
    transform: scale(0.8);
    transform-origin: left center;
}

.flag[country='flag_home'] {
    background-image: none;
}

.flag[country='flag_worldcup'] {
    background-position: -287px -384px;
}

.flag[country='flag_248'] {
    /*international*/
    background-position: -239px -384px;
}

.flag[country='flag_uefachampionsleague'] {
    background-position: -47px -72px;
    -webkit-filter: invert(0);
    filter: invert(0);
}

.flag[country='flag_uefaeuropaleague'] {
    background-position: -336px -96px;
}

.flag[country='flag_copaamericacnt'] {
    background-position: -264px -72px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.flag[country='flag_wta'] {
    background-position: -1px -405px;
}

.flag[country='flag_atp'] {
    background-position: -25px -405px;
}

.flag[country='flag_itf'] {
    background-position: -50px -405px;
    transform: scale(0.8);
}

.flag[country='flag_challenger'] {
    background-position: -74px -405px;
}

.flag[country='flag_daviscup'] {
    background-position: -149px -405px;
}

.flag[country='flag_fedcup'] {
    background-position: -173px -405px;
}

.flag[country='flag_euro'] {
    background-position: -336px -385px;
}

.flag[country='flag_asean'] {
    background-position: 0 0;
}

.flag[country='flag_68'] {
    /*afghanistan*/
    background-position: -24px 0;
}

.flag[country='flag_africa'] {
    background-position: -48px 0;
}

.flag[country='flag_african-union-oas'] {
    background-position: -72px 0;
}

.flag[country='flag_166'] {
    /*albania*/
    background-position: -96px 0;
}

.flag[country='flag_137'] {
    /*algeria*/
    background-position: -120px 0;
}

.flag[country='flag_america'] {
    background-position: -144px 0;
}

.flag[country='flag_170'] {
    /*americansamoa*/
    background-position: -168px 0;
}

.flag[country='flag_251'] {
    /*andorra*/
    background-position: -192px 0;
}

.flag[country='flag_168'] {
    /*angola*/
    background-position: -216px 0;
}

.flag[country='flag_165'] {
    /*anguilla*/
    background-position: -240px 0;
}

.flag[country='flag_169'] {
    /*antarctica*/
    background-position: -264px 0;
}

.flag[country='flag_164'] {
    /*antiguaandbarbuda*/
    background-position: -288px 0;
}

.flag[country='flag_arab-league'] {
    background-position: -312px 0;
}

.flag[country='flag_203'] {
    /*argentina*/
    background-position: -336px 0;
}

.flag[country='flag_69'] {
    /*armenia*/
    background-position: -360px 0;
}

.flag[country='flag_70'] {
    /*aruba*/
    background-position: 0 -24px;
}

.flag[country='flag_asia'] {
    background-position: -24px -24px;
}

.flag[country='flag_172'] {
    /*australia*/
    background-position: -48px -24px;
}

.flag[country='flag_171'] {
    /*austria*/
    background-position: -72px -24px;
}

.flag[country='flag_173'] {
    /*azerbaijan*/
    background-position: -96px -24px;
}

.flag[country='flag_184'] {
    /*bahamas*/
    background-position: -120px -24px;
}

.flag[country='flag_179'] {
    /*bahrain*/
    background-position: -144px -24px;
}

.flag[country='flag_204'] {
    /*bangladesh*/
    background-position: -168px -24px;
}

.flag[country='flag_175'] {
    /*barbados*/
    background-position: -192px -24px;
}

.flag[country='flag_187'] {
    /*belarus*/
    background-position: -216px -24px;
}

.flag[country='flag_176'] {
    /*belgium*/
    background-position: -240px -24px;
}

.flag[country='flag_188'] {
    /*belize*/
    background-position: -264px -24px;
}

.flag[country='flag_180'] {
    /*benin*/
    background-position: -288px -24px;
}

.flag[country='flag_181'] {
    /*bermuda*/
    background-position: -312px -24px;
}

.flag[country='flag_185'] {
    /*bhutan*/
    background-position: -336px -24px;
}

.flag[country='flag_71'] {
    /*bolivia*/
    background-position: -360px -24px;
}

.flag[country='flag_bosnia&herzegovina'] {
    background-position: 0 -48px;
}

.flag[country='flag_174'] {
    /*bosniaandherzegovina*/
    background-position: -24px -48px;
}

.flag[country='flag_186'] {
    /*botswana*/
    background-position: -48px -48px;
}

.flag[country='flag_183'] {
    /*brazil*/
    background-position: -72px -48px;
}

.flag[country='flag_182'] {
    /*brunei*/
    background-position: -96px -48px;
}

.flag[country='flag_178'] {
    /*bulgaria*/
    background-position: -120px -48px;
}

.flag[country='flag_177'] {
    /*burkina-faso*/
    background-position: -144px -48px;
}

.flag[country='flag_205'] {
    /*burundi*/
    background-position: -168px -48px;
}

.flag[country='flag_caricom'] {
    background-position: -192px -48px;
}

.flag[country='flag_cis'] {
    background-position: -216px -48px;
}

.flag[country='flag_65'] {
    /*cambodia*/
    background-position: -240px -48px;
}

.flag[country='flag_cambodja'] {
    background-position: -264px -48px;
}

.flag[country='flag_74'] {
    /*cameroon*/
    background-position: -288px -48px;
}

.flag[country='flag_73'] {
    /*canada*/
    background-position: -312px -48px;
}

.flag[country='flag_200'] {
    /*cape-verde*/
    background-position: -336px -48px;
}

.flag[country='flag_156'] {
    /*cayman-s*/
    background-position: -360px -48px;
}

.flag[country='flag_190'] {
    /*central-african-republic*/
    background-position: 0 -72px;
}

.flag[country='flag_95'] {
    /*chad*/
    background-position: -24px -72px;
}

.flag[country='flag_championsleague'] {
    background-position: -48px -72px;
}

.flag[country='flag_195'] {
    /*chile*/
    background-position: -72px -72px;
}

.flag[country='flag_196'] {
    /*china*/
    background-position: -96px -72px;
}

.flag[country='flag_197'] {
    /*colombia*/
    background-position: -120px -72px;
}

.flag[country='flag_commonwealth'] {
    background-position: -144px -72px;
}

.flag[country='flag_152'] {
    /*comoros*/
    background-position: -168px -72px;
}

.flag[country='flag_congo-brazzaville'] {
    background-position: -192px -72px;
}

.flag[country='flag_congo-kinshasa'] {
    background-position: -216px -72px;
}

.flag[country='flag_194'] {
    /*cook-islands*/
    background-position: -240px -72px;
}

.flag[country='flag_copaamerica'] {
    background-position: -264px -72px;
}

.flag[country='flag_198'] {
    /*costarica*/
    background-position: -288px -72px;
}

.flag[country='flag_cote-divoire'] {
    background-position: -312px -72px;
}

.flag[country='flag_55'] {
    /*croatia*/
    background-position: -336px -72px;
}

.flag[country='flag_199'] {
    /*cuba*/
    background-position: -360px -72px;
}

.flag[country='flag_75'] {
    /*Cyprus*/
    background-position: 0 -96px;
}

.flag[country='flag_202'] {
    /*czechrepublic*/
    background-position: -24px -96px;
}

.flag[country='flag_135'] {
    /*denmark*/
    background-position: -48px -96px;
}

.flag[country='flag_134'] {
    /*djibouti*/
    background-position: -72px -96px;
}

.flag[country='flag_38'] {
    /*dominica*/
    background-position: -96px -96px;
}

.flag[country='flag_136'] {
    /*dominicanrepublic*/
    background-position: -120px -96px;
}

.flag[country='flag_138'] {
    /*ecuador*/
    background-position: -144px -96px;
}

.flag[country='flag_207'] {
    /*egypt*/
    background-position: -168px -96px;
}

.flag[country='flag_92'] {
    /*elsalvador*/
    background-position: -192px -96px;
}

.flag[country='flag_243'] {
    /*england*/
    background-position: -216px -96px;
}

.flag[country='flag_47'] {
    /*equatorial-guinea*/
    background-position: -240px -96px;
}

.flag[country='flag_141'] {
    /*eritrea*/
    background-position: -264px -96px;
}

.flag[country='flag_139'] {
    /*estonia*/
    background-position: -288px -96px;
}

.flag[country='flag_39'] {
    /*ethiopia*/
    background-position: -312px -96px;
}

.flag[country='flag_europaleague'] {
    background-position: -336px -96px;
}

.flag[country='flag_europe'] {
    background-position: -360px -96px;
}

.flag[country='flag_146'] {
    /*faroe*/
    background-position: -24px -120px;
}

.flag[country='flag_144'] {
    /*fiji*/
    background-position: -48px -120px;
}

.flag[country='flag_143'] {
    /*finland*/
    background-position: -72px -120px;
}

.flag[country='flag_147'] {
    /*france*/
    background-position: -96px -120px;
}

.flag[country='flag_208'] {
    /*gabon*/
    background-position: -120px -120px;
}

.flag[country='flag_45'] {
    /*gambia*/
    background-position: -144px -120px;
}

.flag[country='flag_42'] {
    /*Georgia*/
    background-position: -168px -120px;
}

.flag[country='flag_161'] {
    /*germany*/
    background-position: -192px -120px;
}

.flag[country='flag_209'] {
    /*ghana*/
    background-position: -216px -120px;
}

.flag[country='flag_44'] {
    /*gibraltar*/
    background-position: -240px -120px;
}

.flag[country='flag_2'] {
    /*greatbritain*/
    background-position: -264px -120px;
}

.flag[country='flag_48'] {
    /*greece*/
    background-position: -288px -120px;
}

.flag[country='flag_210'] {
    /*greenland*/
    background-position: -312px -120px;
}

.flag[country='flag_41'] {
    /*grenada*/
    background-position: -336px -120px;
}

.flag[country='flag_46'] {
    /*guadeloupe*/
    background-position: -360px -120px;
}

.flag[country='flag_51'] {
    /*guam*/
    background-position: 0 -144px;
}

.flag[country='flag_50'] {
    /*guatemala*/
    background-position: -24px -144px;
}

.flag[country='flag_guernsey'] {
    background-position: -48px -144px;
}

.flag[country='flag_237'] {
    /*guinea-bissau*/
    background-position: -72px -144px;
}

.flag[country='flag_211'] {
    /*guinea*/
    background-position: -96px -144px;
}

.flag[country='flag_52'] {
    /*guyana*/
    background-position: -120px -144px;
}

.flag[country='flag_56'] {
    /*haiti*/
    background-position: -144px -144px;
}

.flag[country='flag_212'] {
    /*honduras*/
    background-position: -168px -144px;
}

.flag[country='flag_53'] {
    /*hongkong*/
    background-position: -192px -144px;
}

.flag[country='flag_57'] {
    /*hungary*/
    background-position: -216px -144px;
}

.flag[country='flag_213'] {
    /*iceland*/
    background-position: -240px -144px;
}

.flag[country='flag_61'] {
    /*india*/
    background-position: -264px -144px;
}

.flag[country='flag_58'] {
    /*indonesia*/
    background-position: -288px -144px;
}

.flag[country='flag_238'] {
    /*iran*/
    background-position: -336px -144px;
}

.flag[country='flag_214'] {
    /*iraq*/
    background-position: -360px -144px;
}

.flag[country='flag_59'] {
    /*Ireland*/
    background-position: 0 -168px;
}

.flag[country='flag_islamic-conference'] {
    background-position: -24px -168px;
}

.flag[country='flag_isle-of-man'] {
    background-position: -48px -168px;
}

.flag[country='flag_60'] {
    /*israel*/
    background-position: -72px -168px;
}

.flag[country='flag_215'] {
    /*italy*/
    background-position: -96px -168px;
}

.flag[country='flag_63'] {
    /*jamaica*/
    background-position: -120px -168px;
}

.flag[country='flag_jersey'] {
    background-position: -144px -168px;
}

.flag[country='flag_64'] {
    /*jordan*/
    background-position: -168px -168px;
}

.flag[country='flag_216'] {
    /*kazakhstan*/
    background-position: -192px -168px;
}

.flag[country='flag_149'] {
    /*kenya*/
    background-position: -216px -168px;
}

.flag[country='flag_151'] {
    /*kiribati*/
    background-position: -240px -168px;
}

.flag[country='flag_154'] {
    /*korea-south*/
    background-position: -264px -168px;
}

.flag[country='flag_koreasouth'] {
    background-position: -288px -168px;
}

.flag[country='flag_253'] {
    /*kosovo*/
    background-position: -312px -168px;
}

.flag[country='flag_155'] {
    /*kuwait*/
    background-position: -336px -168px;
}

.flag[country='flag_150'] {
    /*kyrgyzstan*/
    background-position: -360px -168px;
}

.flag[country='flag_157'] {
    /*laos*/
    background-position: 0 -192px;
}

.flag[country='flag_36'] {
    /*latvia*/
    background-position: -24px -192px;
}

.flag[country='flag_158'] {
    /*lebanon*/
    background-position: -48px -192px;
}

.flag[country='flag_127'] {
    /*lesotho*/
    background-position: -72px -192px;
}

.flag[country='flag_liberia'] {
    /*liberia*/
    background-position: -96px -192px;
}

.flag[country='flag_130'] {
    /*libya*/
    background-position: -120px -192px;
}

.flag[country='flag_67'] {
    /*liechtenstein*/
    background-position: -144px -192px;
}

.flag[country='flag_128'] {
    /*lithuania*/
    background-position: -168px -192px;
}

.flag[country='flag_129'] {
    /*luxembourg*/
    background-position: -192px -192px;
}

.flag[country='flag_109'] {
    /*macao*/
    background-position: -216px -192px;
}

.flag[country='flag_234'] {
    /*macedonia*/
    background-position: -240px -192px;
}

.flag[country='flag_133'] {
    /*madagascar*/
    background-position: -264px -192px;
}

.flag[country='flag_115'] {
    /*malawi*/
    background-position: -288px -192px;
}

.flag[country='flag_116'] {
    /*malaysia*/
    background-position: -312px -192px;
}

.flag[country='flag_114'] {
    /*maldives*/
    background-position: -336px -192px;
}

.flag[country='flag_106'] {
    /*mali*/
    background-position: -360px -192px;
}

.flag[country='flag_32'] {
    /*malta*/
    background-position: 0 -216px;
}

.flag[country='flag_105'] {
    /*marshall-islands*/
    background-position: -24px -216px;
}

.flag[country='flag_110'] {
    /*martinique*/
    background-position: -48px -216px;
}

.flag[country='flag_111'] {
    /*mauritania*/
    background-position: -72px -216px;
}

.flag[country='flag_113'] {
    /*mauritius*/
    background-position: -96px -216px;
}

.flag[country='flag_218'] {
    /*mexico*/
    background-position: -120px -216px;
}

.flag[country='flag_40'] {
    /*micronesia*/
    background-position: -144px -216px;
}

.flag[country='flag_37'] {
    /*moldova*/
    background-position: -168px -216px;
}

.flag[country='flag_132'] {
    /*monaco*/
    background-position: -192px -216px;
}

.flag[country='flag_108'] {
    /*mongolia*/
    background-position: -216px -216px;
}

.flag[country='flag_247'] {
    /*montenegro*/
    background-position: -240px -216px;
}

.flag[country='flag_112'] {
    /*montserrat*/
    background-position: -264px -216px;
}

.flag[country='flag_131'] {
    /*morocco*/
    background-position: -288px -216px;
}

.flag[country='flag_117'] {
    /*mozambique*/
    background-position: -312px -216px;
}

.flag[country='flag_107'] {
    /*myanmar*/
    background-position: -336px -216px;
}

.flag[country='flag_nato'] {
    background-position: -360px -216px;
}

.flag[country='flag_118'] {
    /*namibia*/
    background-position: 0 -240px;
}

.flag[country='flag_35'] {
    /*nauru*/
    background-position: -24px -240px;
}

.flag[country='flag_124'] {
    /*nepal*/
    background-position: -48px -240px;
}

.flag[country='flag_167'] {
    /*netherlands-antilles*/
    background-position: -72px -240px;
}

.flag[country='flag_holland'],
.flag[country='flag_122'] {
    /*netherlands*/
    background-position: -96px -240px;
}

.flag[country='flag_33'] {
    /*newcaledonia*/
    background-position: -120px -240px;
}

.flag[country='flag_126'] {
    /*newzealand*/
    background-position: -144px -240px;
}

.flag[country='flag_34'] {
    /*nicaragua*/
    background-position: -168px -240px;
}

.flag[country='flag_119'] {
    /*niger*/
    background-position: -192px -240px;
}

.flag[country='flag_121'] {
    /*nigeria*/
    background-position: -216px -240px;
}

.flag[country='flag_66'] {
    /*north-korea*/
    background-position: -240px -240px;
}

.flag[country='flag_northamerica'] {
    background-position: -264px -240px;
}

.flag[country='flag_northern-cyprus'] {
    background-position: -288px -240px;
}

.flag[country='flag_241'] {
    /*northernireland*/
    background-position: -312px -240px;
}

.flag[country='flag_123'] {
    /*norway*/
    background-position: -336px -240px;
}

.flag[country='flag_opec'] {
    background-position: -360px -240px;
}

.flag[country='flag_olimpic-movement'] {
    background-position: 0 -264px;
}

.flag[country='flag_olympicgames'] {
    background-position: -24px -264px;
}

.flag[country='flag_17'] {
    /*oman*/
    background-position: -48px -264px;
}

.flag[country='flag_21'] {
    /*pakistan*/
    background-position: -72px -264px;
}

.flag[country='flag_77'] {
    /*palau*/
    background-position: -96px -264px;
}

.flag[country='flag_246'] {
    /*palestine*/
    background-position: -120px -264px;
}

.flag[country='flag_220'] {
    /*panama*/
    background-position: -144px -264px;
}

.flag[country='flag_20'] {
    /*papua-new-guinea*/
    background-position: -168px -264px;
}

.flag[country='flag_221'] {
    /*paraguay*/
    background-position: -192px -264px;
}

.flag[country='flag_18'] {
    /*peru*/
    background-position: -216px -264px;
}

.flag[country='flag_222'] {
    /*philippines*/
    background-position: -240px -264px;
}

.flag[country='flag_22'] {
    /*poland*/
    background-position: -264px -264px;
}

.flag[country='flag_76'] {
    /*Portugal*/
    background-position: -288px -264px;
}

.flag[country='flag_25'] {
    /*puertorico*/
    background-position: -312px -264px;
}

.flag[country='flag_223'] {
    /*qatar*/
    background-position: -336px -264px;
}

.flag[country='flag_red-cross'] {
    background-position: -360px -264px;
}

.flag[country='flag_republicofireland'] {
    background-position: 0 -288px;
}

.flag[country='flag_256'] {
    /*reunion*/
    background-position: -24px -288px;
}

.flag[country='flag_78'] {
    /*romania*/
    background-position: -48px -288px;
}

.flag[country='flag_79'] {
    /*russia*/
    background-position: -72px -288px;
}

.flag[country='flag_26'] {
    /*rwanda*/
    background-position: -96px -288px;
}

.flag[country='flag_159'] {
    /*saint-lucia*/
    background-position: -120px -288px;
}

.flag[country='flag_224'] {
    /*samoa*/
    background-position: -144px -288px;
}

.flag[country='flag_88'] {
    /*sanmarino*/
    background-position: -168px -288px;
}

.flag[country='flag_91'] {
    /*sao-tome-principe*/
    background-position: -192px -288px;
}

.flag[country='flag_80'] {
    /*saudiarabia*/
    background-position: -216px -288px;
}

.flag[country='flag_240'] {
    /*scotland*/
    background-position: -240px -288px;
}

.flag[country='flag_28'] {
    /*senegal*/
    background-position: -264px -288px;
}

.flag[country='flag_244'] {
    /*serbia*/
    background-position: -288px -288px;
}

.flag[country='flag_seyshelles'] {
    background-position: -312px -288px;
}

.flag[country='flag_87'] {
    /*sierra-leone*/
    background-position: -336px -288px;
}

.flag[country='flag_225'] {
    /*singapore*/
    background-position: -360px -288px;
}

.flag[country='flag_86'] {
    /*slovakia*/
    background-position: 0 -312px;
}

.flag[country='flag_85'] {
    /*slovenia*/
    background-position: -24px -312px;
}

.flag[country='flag_81'] {
    /*solomon-islands*/
    background-position: -48px -312px;
}

.flag[country='flag_89'] {
    /*somalia*/
    background-position: -72px -312px;
}

.flag[country='flag_somaliland'] {
    background-position: -96px -312px;
}

.flag[country='flag_14'] {
    /*southafrica*/
    background-position: -120px -312px;
}

.flag[country='flag_southkorea-copy'] {
    background-position: -144px -312px;
}

.flag[country='flag_southkorea'] {
    background-position: -168px -312px;
}

.flag[country='flag_142'] {
    /*spain*/
    background-position: -192px -312px;
}

.flag[country='flag_160'] {
    /*sri-lanka*/
    background-position: -216px -312px;
}

.flag[country='flag_153'] {
    /*st-kitts-nevis*/
    background-position: -240px -312px;
}

.flag[country='flag_7'] {
    /*st-vincent-the-grenadines*/
    background-position: -264px -312px;
}

.flag[country='flag_226'] {
    /*sudan*/
    background-position: -288px -312px;
}

.flag[country='flag_90'] {
    /*suriname*/
    background-position: -312px -312px;
}

.flag[country='flag_94'] {
    /*swaziland*/
    background-position: -336px -312px;
}

.flag[country='flag_83'] {
    /*sweden*/
    background-position: -360px -312px;
}

.flag[country='flag_192'] {
    /*switzerland*/
    background-position: 0 -336px;
}

.flag[country='flag_93'] {
    /*syria*/
    background-position: -24px -336px;
}

.flag[country='flag_tahiti-19'] {
    /*french-polinesia*/
    background-position: -48px -336px;
}

.flag[country='flag_104'] {
    /*taiwan*/
    background-position: -72px -336px;
}

.flag[country='flag_98'] {
    /*tajikistan*/
    background-position: -96px -336px;
}

.flag[country='flag_236'] {
    /*tanzania*/
    background-position: -120px -336px;
}

.flag[country='flag_30'] {
    /*thailand*/
    background-position: -144px -336px;
}

.flag[country='flag_timor-leste'] {
    background-position: -168px -336px;
}

.flag[country='flag_97'] {
    /*togo*/
    background-position: -192px -336px;
}

.flag[country='flag_227'] {
    /*tonga*/
    background-position: -216px -336px;
}

.flag[country='flag_228'] {
    /*trinidadtobago*/
    background-position: -240px -336px;
}

.flag[country='flag_trinidadandtobago'] {
    background-position: -264px -336px;
}

.flag[country='flag_101'] {
    /*tunisia*/
    background-position: -288px -336px;
}

.flag[country='flag_103'] {
    /*turkey*/
    background-position: -312px -336px;
}

.flag[country='flag_100'] {
    /*turkmenistan*/
    background-position: -336px -336px;
}

.flag[country='flag_29'] {
    /*turks-and-caicos-islands*/
    background-position: -360px -336px;
}

.flag[country='flag_31'] {
    /*tuvalu*/
    background-position: 0 -360px;
}

.flag[country='flag_163'] {
    /*uae*/
    background-position: -24px -360px;
}

.flag[country='flag_uk'] {
    background-position: -48px -360px;
}

.flag[country='flag_4'] {
    /*usa*/
    background-position: -72px -360px;
}

.flag[country='flag_1'] {
    /*uganda*/
    background-position: -96px -360px;
}

.flag[country='flag_229'] {
    /*ukraine*/
    background-position: -120px -360px;
}

.flag[country='flag_united-nations'] {
    background-position: -144px -360px;
}

.flag[country='flag_unitedarabemirates'] {
    background-position: -168px -360px;
}

.flag[country='flag_unitedkingdom'] {
    background-position: -192px -360px;
}

.flag[country='flag_230'] {
    /*uruguay*/
    background-position: -216px -360px;
}

.flag[country='flag_5'] {
    /*flag_uzbekistan*/
    background-position: -240px -360px;
}

.flag[country='flag_vtb'] {
    background-position: -264px -360px;
}

.flag[country='flag_10'] {
    /*vanuatu*/
    background-position: -288px -360px;
}

.flag[country='flag_vatican-city'] {
    background-position: -312px -360px;
}

.flag[country='flag_231'] {
    /*venezuela*/
    background-position: -336px -360px;
}

.flag[country='flag_9'] {
    /*vietnam*/
    background-position: -360px -360px;
}

.flag[country='flag_8'] {
    /*virgin-islands*/
    background-position: 0 -384px;
}

.flag[country='flag_235'] {
    /*virgin-islands-us*/
    background-position: -24px -384px;
}

.flag[country='flag_242'] {
    /*wales*/
    background-position: -48px -384px;
}

.flag[country='flag_140'] {
    /*western-sahara*/
    background-position: -72px -384px;
}

.flag[country='flag_232'] {
    /*yemen*/
    background-position: -120px -384px;
}

.flag[country='flag_233'] {
    /*zambia*/
    background-position: -144px -384px;
}

.flag[country='flag_16'] {
    /*zimbabwe*/
    background-position: -168px -384px;
}

.flag[country='flag_148'] {
    /*japan*/
    background-position: -192px -384px;
}

.flag[country='flag_rolandgarros'] {
    background-position: -216px -384px;
}

.flag[country='flag_undefined'] {
    background-position: -240px -384px;
}

.flag[country='flag_wimbledon'] {
    background-position: -264px -384px;
}

.flag[country='flag_bundesliga'] {
    background-position: -197px -406px;
}

.flag[country='flag_laliga'] {
    background-position: -222px -406px;
    transform: scale(1);
}

.flag[country='super-lig'] {
    background-position: -244px -406px;
    transform: scale(1);
}

.flag[country='premier-lig'] {
    background-position: -265px -408px;
    transform: scale(1);
}

.flag[country='serie'] {
    background-position: -288px -408px;
    transform: scale(1);
}

.flag[country='nba'] {
    background-position: -308px -408px;
    transform: scale(1);
}

.flag[country='ufc'] {
    background-position: -332px -408px;
    transform: scale(1);
}
